html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/space.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    height: 120px;

}

.logo {
    position: absolute;
    width: 120px;
    /* height: 100%; */
}

.boiteTitre {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

h1.titre {
    color: rgb(209, 103, 41);
    font-size: 48px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    /* texte dégradé */
    background: linear-gradient(to top, rgb(77, 39, 3), rgb(153, 94, 39), rgb(255, 230, 0), rgb(255, 255, 255));
    /* Filter remplace text shadow pour l'ombre portée */
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* ombre interieure */

    /* text-shadow: 1px 1px 5px rgb(0, 0, 0), 0px 0px 0px rgb(255, 255, 255); */
    /* contour texte */
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

/* Menu principale */
nav.mainmenu-nav {
    background-color: rgb(78, 77, 161);
    padding-left: 130px;
    padding-right: 130px;
    ;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* gap:12px; */
}

/* Menu latéral gauche */
#aside-menu {
    padding-top: 50px;
    width: 20%;
}


/* .menu-left{
    color: white;
    background-color: rgb(67, 67, 126);
    display: flex;
    justify-content: flex-start;
    width: 138px;
} */

.label-menu {
    position: absolute;
        padding-top: 10px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 1px 0;
    /* cursor: pointer; */
    background: #33438b;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
    width: 150px;
    height: 28px;
}

label:hover {
    background: #18336d;
}

.main-content{
    flex-grow: 4;
}

.menu-content {
    position: absolute;
    padding-top: 10px;
    display: block;
    text-align: center;
    text-transform: 24px;
    margin-top: auto;
    width: 150px;
    margin: 0 0 1px 0;
    cursor: pointer;
    /* background: #33438b; */
    border-radius: 50px;
    color: #FFF;
    transition: ease .5s;
    transform: translateY(18px);
}

.menu-entries {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}

.menu-entry {
    background: #33438b;
    transform: translateY(20px);
    height: 50px;
    text-transform: uppercase;
    padding-top: 34px;

}

.menu-entry:hover {
    background: #b36c1c;
}

input:hover+.menu-content {
    display: block;
}
/* activer/désactiver le menu déroulant */
input+.menu-content {
    display: none;
}

input+.menu-content:hover {
    display: block;
}

input {
    display: none;
}

/* paramètre surlignage */
.btn:hover {
    background-color: rgb(138, 93, 35);
    color: rgb(255, 255, 255);
}

/* paramètre du texte */
.btn span {
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    /* texte dégradé */
    background: linear-gradient(to top, rgb(77, 39, 3), rgb(153, 94, 39), rgb(255, 230, 0), rgb(255, 255, 255));
    /* Filter remplace text shadow pour l'ombre portée */
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* ombre interieure */

    /* text-shadow: 1px 1px 5px rgb(0, 0, 0), 0px 0px 0px rgb(255, 255, 255); */
    /* contour texte */
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

/* paramètres du boutton */
.btn {
    color: rgb(155, 146, 28);
    background-color: rgb(78, 77, 161);
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    cursor: pointer;
}

.rightbox {
    background-color: rgb(67, 67, 126);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
}

.footertitle {
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.discord {
    color: white;
    text-transform: uppercase;
}

.liendiscord {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 5px rgb(0, 0, 0), 1px 0px 0px rgb(0, 0, 0);
}

.liendiscord:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 1px 1px 10px rgb(255, 255, 255), 0px 0px 0px rgb(255, 255, 255);
}

footer {
    display: flex;
    background-color: rgb(67, 67, 126);
    justify-content: space-evenly;
}

.conversation {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 250px;
    transition: transform 0.25s ease;
    cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  /* how to modify this to use exact image width instead of scaling?*/
  transform:  scale(2);
  cursor: zoom-out
}

/* .conversation:hover{
    width: 600px;
} */
