nav.menu-nav{
    background-color: rgb(116, 116, 114);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
/* paramètre surlignage */
.btn:hover {
    background-color: rgb(138, 93, 35);
    color:rgb(255, 255, 255);
}
/* paramètre du texte */
.btn span{
    color: pink;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-family : "Times New Roman", Times, serif;
    text-transform: uppercase;
    /* texte dégradé */
    background: linear-gradient(to top, rgb(138, 69, 6), rgb(255, 230, 0));
    /* Filter remplace text shadow pour l'ombre portée */
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* contour texte */
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}
/* paramètres du boutton */
.btn{
    color: rgb(155, 146, 28);
    background-color: rgb(115, 114, 116);
    padding-left: 100px;
    padding-right: 100px;
    border: none;
}

h1.titre{
    color: rgb(209, 103, 41);
    text-align: center;
}
p.intro{
    color: rgb(206, 143, 25);
}
p.corps{
    color: rgb(41, 41, 61);
}
/* body{
      background: url(https://images.pexels.com/photos/974471/nature-night-sky-stars-974471.jpeg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

} */

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("https://images.pexels.com/photos/974471/nature-night-sky-stars-974471.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div#content div{
    display: inline-block;
}

div#content div.leftbox{
    background-color: rgb(41, 41, 61);
    vertical-align: top;
}

div#content div.rightbox{
    background-color: rgb(67, 67, 126);
}

/* footer{
    background-color: rgb(44, 44, 94);
} */